<div ng-init="initialize()" class="panel panel-default dc-facet">
  <div class="panel-heading" ng-class="{'clickable': !facetIsEmpty()}" ng-click="open=!open">{{$ctrl.facet.label}}
    <span ng-if="!facetIsEmpty()" class="glyphicon pull-right"  ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></span>
    <span ng-if="facetIsEmpty()" class="badge pull-right">0</span>
  </div>
  <ul class="list-group dc-facet-counts-in-use">
    <li class="list-group-item dc-facet-count-in-use clickable clearfix" ng-class="{'list-group-item-success': !hover, 'list-group-item-warning': hover}" ng-mouseover="hover=true" ng-mouseleave="hover=false" ng-repeat="(facetName, facetCount) in $ctrl.facet.counts track by $index" ng-click="addRemoveFacetFilter($ctrl.facet, facetName)" ng-if="findFilterByFacet($ctrl.facet.label, facetName)">
      {{facetName}} <span class="badge pull-right" ng-hide="hover">{{facetCount}}</span> <span class="glyphicon glyphicon-remove pull-right" ng-show="hover"></span>
    </li>
  </ul>
  <ul class="list-group dc-facet-counts" ng-class="{'open':open}">
    <li class="list-group-item dc-facet-count clickable clearfix" ng-repeat="(facetName, facetCount) in $ctrl.facet.counts track by $index" ng-click="addRemoveFacetFilter($ctrl.facet, facetName)" ng-if="!findFilterByFacet($ctrl.facet.label, facetName) && $index < 10">
      {{facetName}} <span class="badge pull-right">{{facetCount}}</span>
    </li>
    <li class="list-group-item dc-facet-count clickable clearfix" ng-if="getFacetCountKeys().length > 10" ng-click="moreFacets()">more...</li>
  </ul>
</div>