<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Delete User</h4>
</div>
<div class="modal-body">
    <form role="form"  >
        <div class="form-group">
            <label>Are you sure you want to delete this user: </label>
            <div>{{thisUser.firstName}} {{thisUser.lastName}}</div>
            <div>{{thisUser.uin}}</div>
            <div>{{thisUser.role}}</div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-danger" ng-click="delete(thisUser); closeModal();">Confirm</button>
    <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
</div>