<form name="solrWriterForms.create" ng-submit="createSolrWriter()" novalidate class="solr-core-forms-create">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelCreateSolrWriter()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Solr Writer</h4>
  </div>
  <div class="modal-body">

    <validationmessage results="solrWriterForms.getResults()"></validationmessage>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">     
        <validatedinput
          model="solrWriterToCreate"
          property="name"
          label="Name"
          placeholder="Name for the new Solr Writer"
          form="solrWriterForms.create"
          validations="solrWriterForms.validations"
          results="solrWriterForms.getResults()"
          autocomplete="off">
        </validatedinput>
    
        <validatedselect
          model="solrWriterToCreate"
          property="solrCore"
          options="solrCores"
          optionproperty="name"
          label="Solr Core"
          placeholder="Solr Core for the new Solr Writer"
          form="solrWriterForms.create"
          validations="solrWriterForms.validations"
          results="solrWriterForms.getResults()"
          autocomplete="off">
        </validatedselect>

        <label>Field Mappings</label>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="field in metadataFields">
            <label>{{field}}</label>
            <input class="form-control" type="text" name="newSolrWriterMappings" ng-model="newSolrWriterMappings[field]" />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelCreateSolrWriter()">Cancel</button>
    <button ng-disabled="solrCoreForms.create.$invalid" type="submit" class="btn btn-success">Create</button>
  </div>
</form>