<form name="indexForms.create" ng-submit="createIndex()" novalidate class="index-forms-create">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelCreateIndex()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Index</h4>
  </div>
  <div class="modal-body">
    <validationmessage results="irForms.getResults()"></validationmessage>

    <validatedinput
      model="indexToCreate"
      property="name"
      label="Name"
      placeholder="Name of the new Index"
      form="indexForms.create"
      validations="indexForms.validations"
      results="indexForms.getResults()"
      autocomplete="off">
    </validatedinput>

    <validatedinput
      model="indexToCreate"
      property="uri"
      label="URI"
      placeholder="URI for the new Index"
      form="indexForms.create"
      validations="indexForms.validations"
      results="indexForms.getResults()"
      autocomplete="off">
    </validatedinput>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="cancelCreateIndex()">Cancel</button>
    <button type="submit" class="btn btn-success">Create</button>
  </div>
</form>