<form name="sourceForms.create" ng-submit="createSource()" novalidate class="source-forms-create">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelCreateSource()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Core</h4>
  </div>
  <div class="modal-body">
    <validationmessage results="sourceForms.getResults()"></validationmessage>

    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="General">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <validatedinput
              id="sourceToCreateName"
              model="sourceToCreate"
              property="name"
              label="Name"
              placeholder="URI for the new Source"
              form="sourceForms.create"
              validations="sourceForms.validations"
              results="sourceForms.getResults()"
              autocomplete="off">
            </validatedinput>

            <validatedinput
              id="sourceToCreateUri"
              model="sourceToCreate"
              property="uri"
              label="URI"
              placeholder="URI for the new Source"
              form="sourceForms.create"
              validations="sourceForms.validations"
              results="sourceForms.getResults()"
              autocomplete="off">
            </validatedinput>

            <validatedselect
              id="sourceToCreateApplicationType"
              model="sourceToCreate"
              property="applicationType"
              options="applicationTypes"
              label="Application Type"
              placeholder="Application Type for the new Source"
              form="sourceForms.create"
              validations="sourceForms.validations"
              results="sourceForms.getResults()"
              autocomplete="off">
            </validatedselect>

            <div class="form-group">
              <div>
                <label id="sourceToCreateReadOnlyLabel">Type</label>
              </div>
              <label class="radio-inline" role="group" aria-labelledby="sourceToCreateReadOnlyLabel">
                <input type="radio" name="sourceToCreateReadOnly" ng-model="sourceToCreate.readOnly" ng-value="true"> Source
              </label>
              <label class="radio-inline" role="group" aria-labelledby="sourceToCreateReadOnlyLabel">
                <input type="radio" name="sourceToCreateReadOnly" ng-model="sourceToCreate.readOnly" ng-value="false"> Destination
              </label>
            </div>

            <validatedinput
              id="sourceToCreateRequiresFilter"
              type="checkbox"
              model="sourceToCreate"
              property="requiresFilter"
              label="Requires Filter"
              form="sourceForms.create"
              validations="sourceForms.validations"
              results="sourceForms.getResults()"
              autocomplete="off">
            </validatedinput>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Authorization">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <validatedinput
              model="sourceToCreate"
              property="username"
              label="User Name"
              placeholder="User Name for the new Source"
              form="sourceForms.create"
              validations="sourceForms.validations"
              results="sourceForms.getResults()"
              autocomplete="off">
            </validatedinput>

            <validatedinput
              model="sourceToCreate"
              property="password"
              type="password"
              label="Password"
              placeholder="Password for the new Source"
              form="sourceForms.create"
              validations="sourceForms.validations"
              results="sourceForms.getResults()"
              autocomplete="off">
            </validatedinput>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="2" heading="Test">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <solr-source-test solr-source="sourceToCreate"></solr-source-test>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelCreateSource()">Cancel</button>
    <button ng-disabled="sourceForms.create.$invalid" type="submit" class="btn btn-success">Create</button>
  </div>
</form>
