<form name="jobForms.create" ng-submit="createJob()" novalidate class="solr-source-forms-create">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelCreateJob()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Job</h4>
  </div>

  <div class="modal-body">
    <validationmessage results="jobForms.getResults()"></validationmessage>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <validatedinput
          model="jobToCreate"
          property="name"
          label="Name"
          placeholder="Name for the new Job"
          form="jobForms.create"
          validations="jobForms.validations"
          results="jobForms.getResults()"
          autocomplete="off">
        </validatedinput>

        <label for="readersSelect">Readers</label>
        <select name="readersSelect" class="form-control" ng-options="reader as reader.name for reader in readers track by reader.id" ng-model="jobToCreate.readers" multiple required></select>

        <label for="writersSelect">Writers</label>
        <select name="writersSelect" class="form-control" ng-options="writer as writer.name for writer in writers track by writer.id" ng-model="jobToCreate.writers" multiple required></select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelCreateJob()">Cancel</button>
    <button ng-disabled="jobForms.create.$invalid" type="submit" class="btn btn-success">Create</button>
  </div>
</form>
