<form name="discoveryViewForms.create" ng-submit="createDiscoveryView()" novalidate class="discovery-view-forms-create">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelCreateDiscoveryView()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Discovery View</h4>
  </div>
  <div class="modal-body" ng-if="discoveryView">
    <alerts seconds="30" channels="source/solr/fields,source/solr/test,discovery-view" types="WARNING,ERROR" exclusive></alerts>
    <validationmessage results="discoveryViewForms.getResults()"></validationmessage>

    <uib-tabset ng-if="tabs.inCreate" active="tabs.active" justified="true">
      <uib-tab index="0" heading="General" select="stepTransitionRefresh(tabs.active)">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <br>
            <validatedinput
              id="discoveryViewToCreateName"
              model="discoveryView"
              property="name"
              label="{{makeLabel('Name')"
              placeholder="Name for the new Discovery View"
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()"
              autocomplete="off">
            </validatedinput>

            <validatedselect
              id="discoveryViewToCreateSource"
              model="discoveryView"
              property="source"
              options="sources"
              optionproperty="name"
              label="{{makeLabel('Source')"
              placeholder="Source for the new Writer"
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()"
              autocomplete="off"
              change="refreshSource(discoveryView)">
            </validatedselect>

            <validatedinput
              id="discoveryViewToCreateFilter"
              model="discoveryView"
              property="filter"
              label="{{makeLabel('Filter')"
              placeholder=""
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()"
              autocomplete="off"
              change="refreshSource(discoveryView)">
            </validatedinput>

            <validatedinput
              id="discoveryViewToCreateSlug"
              model="discoveryView"
              property="slug"
              label="{{makeLabel('Slug')"
              placeholder="The URI slug of this Discovery View"
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()"
              autocomplete="off">
            </validatedinput>

            <validatedinput
              id="discoveryViewToCreateLogoUrl"
              model="discoveryView"
              property="logoUrl"
              label="{{makeLabel('Narrow Logo URL (3:5 Aspect Ratio)')"
              placeholder="Narrow Logo URL for the new Discovery View"
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()"
              autocomplete="off">
            </validatedinput>

            <validatedinput
              id="discoveryViewToCreateWideLogoUrl"
              model="discoveryView"
              property="wideLogoUrl"
              label="{{makeLabel('Logo URL (5:3 Aspect Ratio)')"
              placeholder="Wide Logo URL (5:3 Aspect Ratio)"
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()"
              autocomplete="off">
            </validatedinput>

            <validatedinput
              id="discoveryViewToCreateInfoLinkText"
              model="discoveryView"
              property="infoLinkText"
              label="{{makeLabel('Info Link Text')"
              placeholder="e.g. 'About This Collection'"
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()"
              autocomplete="off">
            </validatedinput>

            <validatedinput
              id="discoveryViewToCreateInfoLinkUrl"
              model="discoveryView"
              property="infoLinkUrl"
              label="{{makeLabel('Info Link Url')"
              placeholder="The URL of the info link"
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()"
              autocomplete="off">
            </validatedinput>

            <validatedtextarea
              id="discoveryViewToCreateInfoText"
              model="discoveryView"
              property="infoText"
              label="{{makeLabel('Info Text')"
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()">
            </validatedtextarea>

            <validatedselect
              id="discoveryViewToCreateQueryParser"
              model="discoveryView"
              property="queryParser"
              options="queryParsers"
              label="{{makeLabel('Query Parser')"
              placeholder="Optionally specify a query parser"
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()"
              autocomplete="off">
            </validatedselect>

            <validatedselect
              id="discoveryViewToCreateDefaultOperand"
              model="discoveryView"
              property="defaultOperand"
              options="queryOperands"
              label="{{makeLabel('Default Operand')"
              placeholder="Optionally Specify a default operand"
              form="discoveryViewForms.create"
              validations="discoveryViewForms.validations"
              results="discoveryViewForms.getResults()"
              autocomplete="off">
            </validatedselect>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Facets" disable="isTransitionDenied(1)" select="stepTransitionRefresh(tabs.active)">
        <div class="row">
          <div class="row">
            <div class="col-sm-offset-1 co-xs-12">
              <h4>Facet Fields</h4>
            </div>
          </div>
          <div class="row" ng-repeat="facetField in discoveryView.facetFields track by $index">
            <div class="col-xs-2 col-sm-offset-1">
              <div class="form-group">
                <label for="key">Key</label>
                <select name="key" class="form-control" ng-model="discoveryView.facetFields[$index].key" ng-options="option['name'] as option['name'] for option in fields" ></select>
              </div>
            </div>
            <div class="col-xs-5">
              <div class="form-group">
                <label for="label">Label</label>
                <input name="label" placeholder="Display label of filter" type="text" class="form-control" ng-model="discoveryView.facetFields[$index].label">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label for="widget">Widget</label>
                <select name="widget" class="form-control" ng-model="discoveryView.facetFields[$index].widget">
                  <option>Link</option>
                  <option>Typeahead</option>
                </select>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group add-field-group">
                <button ng-if="$index == 0" type="button" class="btn btn-success" ng-click="appendFacetFieldItem(discoveryView)"><span class="glyphicon glyphicon-plus"></span></button>
                <button ng-if="$index > 0 || discoveryView.facetFields.length > 1" type="button" class="btn btn-danger" ng-click="discoveryView.facetFields.splice($index,1)"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="2" heading="Search" disable="isTransitionDenied(2)" select="stepTransitionRefresh(tabs.active)">
        <div class="row">
          <div class="row">
            <div class="col-sm-offset-1 co-xs-12">
              <h4>Search Fields</h4>
            </div>
          </div>
          <div class="row" ng-repeat="searchField in discoveryView.searchFields track by $index">
            <div class="col-xs-2 col-sm-offset-1">
              <div class="form-group">
                <label for="key">Key</label>
                <select name="key" class="form-control" ng-model="discoveryView.searchFields[$index].key" ng-options="option['name'] as option['name'] for option in fields" ></select>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="form-group">
                <label for="label">Label</label>
                <input name="label" placeholder="Display label of search" type="text" class="form-control" ng-model="discoveryView.searchFields[$index].label">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group add-field-group">
                <button ng-if="$index == 0" type="button" class="btn btn-success" ng-click="appendSearchFieldItem(discoveryView)"><span class="glyphicon glyphicon-plus"></span></button>
                <button ng-if="$index > 0 || discoveryView.searchFields.length > 1" type="button" class="btn btn-danger" ng-click="discoveryView.searchFields.splice($index,1)"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="3" heading="Results" disable="isTransitionDenied(3)" select="stepTransitionRefresh(tabs.active)">
        <div class="row">

          <div class="row">
            <div class="col-sm-offset-1 co-xs-12">
                <h4>Result Heading</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
              <validatedselect
                id="discoveryViewToCreateUniqueIdentifierKey"
                model="discoveryView"
                property="uniqueIdentifierKey"
                options="fields"
                optionproperty="name"
                optionvalue="name"
                label="Unique Identifier Key"
                placeholder="A unique identifier key for the new Discovery View"
                form="discoveryViewForms.create"
                validations="discoveryViewForms.validations"
                results="discoveryViewForms.getResults()">
              </validatedselect>
            </div>
            <div class="col-sm-5">
              <multi-suggestion-input
                id="discoveryViewToCreateTitleKey"
                model="discoveryView"
                property="titleKey"
                optionproperty="name"
                suggestions="fields"
                name="titleKey"
                label="Title Key"
                placeholder="'{{' to see Title Key suggestions">
              </multi-suggestion-input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
              <multi-suggestion-input
                id="discoveryViewToCreateThumbnailUriKey"
                model="discoveryView"
                property="resourceThumbnailUriKey"
                optionproperty="name"
                suggestions="fields"
                name="resourceThumbnailUriKey"
                label="Thumbnail URI Key"
                placeholder="'{{' to see Thumbnail URI Key suggestions">
              </multi-suggestion-input>
            </div>
            <div class="col-sm-5">
              <multi-suggestion-input
                id="discoveryViewToCreateResourceKey"
                model="discoveryView"
                property="resourceLocationUriKey"
                optionproperty="name"
                suggestions="fields"
                name="resourceLocationUriKey"
                label="Resource URI Key"
                placeholder="'{{' to see Resource URI Key suggestions">
              </multi-suggestion-input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
              <multi-suggestion-input
                id="discoveryViewToCreateManifestUriKey"
                model="discoveryView"
                property="manifestUriKey"
                optionproperty="name"
                suggestions="fields"
                name="manifestUriKey"
                label="Manifest URI Key"
                placeholder="'{{' to see Manifest URI Key suggestions">
              </multi-suggestion-input>
            </div>
            <div class="form-group">
              <div>
                <label id="discoveryViewToCreateDefaultSort">Default Sort</label>
              </div>
              <label class="radio-inline" role="group" aria-labelledby="discoveryViewDefaultSort">
                <input type="radio" name="discoveryViewDefaultSort" ng-model="discoveryView.ascending" ng-value="true"> Ascending
              </label>
              <label class="radio-inline" role="group" aria-labelledby="discoveryViewDefaultSort">
                <input type="radio" name="discoveryViewDefaultSort" ng-model="discoveryView.ascending" ng-value="false"> Descending
              </label>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="row">
            <div class="col-sm-offset-1 co-xs-12">
              <h4>Result Metadata</h4>
            </div>
          </div>
          <div class="row" ng-repeat="resultMetadataField in discoveryView.resultMetadataFields track by $index">
            <div class="col-xs-3 col-sm-offset-1">
              <div class="form-group">
                <label for="key">Key</label>
                <select name="key" class="form-control" ng-model="discoveryView.resultMetadataFields[$index].key" ng-options="option['name'] as option['name'] for option in fields" ng-change="discoveryView.resultMetadataFields[$index].sortable=!findFieldByKey(discoveryView.resultMetadataFields[$index].key).multiValued"></select>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label for="label">Label</label>
                <input name="label" placeholder="Display label of filter" type="text" class="form-control" ng-model="discoveryView.resultMetadataFields[$index].label">
              </div>
            </div>
            <div class="col-xs-1">
              <div class="form-group">
                <label for="sortable">Sortable</label>
                <input name="sortable" type="checkbox" class="form-control" ng-model="discoveryView.resultMetadataFields[$index].sortable" ng-disabled="findFieldByKey(discoveryView.resultMetadataFields[$index].key).multiValued">
              </div>
            </div>
            <div class="col-xs-1">
              <div class="form-group">
                <label for="list">List</label>
                <input name="list" type="checkbox" class="form-control" ng-model="discoveryView.resultMetadataFields[$index].inList">
              </div>
            </div>
            <div class="col-xs-1">
              <div class="form-group">
                <label for="grid">Grid</label>
                <input name="grid" type="checkbox" class="form-control" ng-model="discoveryView.resultMetadataFields[$index].inGrid">
              </div>
            </div>
            <div class="col-xs-1">
              <div class="form-group">
                <label for="item">Item</label>
                <input name="item" type="checkbox" class="form-control" ng-model="discoveryView.resultMetadataFields[$index].inSingleResult">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group add-field-group">
                <button ng-if="$index == 0" type="button" class="btn btn-success" ng-click="appendResultMetadataFieldItem(discoveryView)"><span class="glyphicon glyphicon-plus"></span></button>
                <button ng-if="$index > 0 || discoveryView.resultMetadataFields.length > 1" type="button" class="btn btn-danger" ng-click="discoveryView.resultMetadataFields.splice($index,1)"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelCreateDiscoveryView()">Cancel</button>
    <button ng-show="tabs.active === 0" ng-disabled="isDiscoveryViewGeneralInvalid('create')" type="button" class="btn btn-success" ng-click="next()">Next</button>
    <button ng-show="tabs.active === 1" type="button" class="btn btn-success" ng-click="back()">Back</button>
    <button ng-show="tabs.active === 1" ng-disabled="isDiscoveryViewFacetsInvalid('create')" type="button" class="btn btn-success" ng-click="next()">Next</button>
    <button ng-show="tabs.active === 2" type="button" class="btn btn-success" ng-click="back()">Back</button>
    <button ng-show="tabs.active === 2" ng-disabled="isDiscoveryViewSearchInvalid('create')" type="button" class="btn btn-success" ng-click="next()">Next</button>
    <button ng-show="tabs.active === 3" type="button" class="btn btn-success" ng-click="back()">Back</button>
    <button ng-show="tabs.active === 3" ng-disabled="isDiscoveryViewResultsInvalid('create') || discoveryViewForms.create.$invalid" type="submit" class="btn btn-success">Create</button>
  </div>
</form>
