<form name="indexForms.create" ng-submit="createIndex()" novalidate class="index-forms-create">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelCreateIndex()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Index</h4>
  </div>
  <div class="modal-body">
    <input class="form-control" name="indexForms.create.name" ng-model="indexToCreate.name" placeholder="name">
  </div>     
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="cancelCreateIndex()">Cancel</button>
    <button type="submit" class="btn btn-success">Create</button>
  </div>
</form>