<form name="readerForms.update" ng-submit="updateReader()" novalidate class="solr-source-forms-update">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelUpdateReader()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Update Reader</h4>
  </div>
  <div class="modal-body">
    <validationmessage results="readerForms.getResults()"></validationmessage>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <validatedinput
          model="readerToUpdate"
          property="name"
          label="Name"
          form="readerForms.create"
          validations="readerForms.validations"
          results="readerForms.getResults()"
          autocomplete="off">
        </validatedinput>

        <validatedselect
          model="readerToUpdate"
          property="source"
          options="sources"
          optionproperty="name"
          label="Source"
          form="readerForms.create"
          validations="readerForms.validations"
          results="readerForms.getResults()"
          autocomplete="off">
        </validatedselect>

        <label>Field Mappings</label>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="field in readerToUpdate.fields">
            <label>{{field.schemaMapping}}</label>
            <input class="form-control" type="text" name="fieldMapping" ng-model="field.name" />
          </li>
        </ul>

        <label>Sort Fields</label>
        <ul class="list-group">
          <li class="list-group-item">
            <label>Title</label>
            <input class="form-control" type="text" name="sortTitle" ng-model="readerToUpdate.sortTitle" />
          </li>
          <li class="list-group-item">
            <label>ID</label>
            <input class="form-control" type="text" name="sortId" ng-model="readerToUpdate.sortId" />
          </li>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelUpdateReader()">Cancel</button>
    <span ng-show="updatingReader">
      <span class="glyphicon glyphicon-refresh spinning"></span>
    </span>
    <button ng-hide="updatingReader" ng-disabled="readerForms.update.$invalid" type="submit" class="btn btn-success">Update</button>
  </div>
</form>
