<form name="internalMetadatumForms.update" ng-submit="updateInternalMetadatum()" novalidate class="internal-metadata-forms-update">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelUpdateInternalMetadatum()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Update Internal Metadatum</h4>
  </div>
  <div class="modal-body">
    <validationmessage results="internalMetadatumForms.getResults()"></validationmessage>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <validatedinput
          id="internalMetadatumToUpdateGloss"
          model="internalMetadatumToUpdate"
          property="gloss"
          label="Gloss"
          form="internalMetadatumForms.update"
          validations="internalMetadatumForms.validations"
          results="internalMetadatumForms.getResults()"
          autocomplete="off">
        </validatedinput>

        <validatedinput
          id="internalMetadatumToUpdateField"
          model="internalMetadatumToUpdate"
          property="field"
          label="Field"
          form="internalMetadatumForms.update"
          validations="internalMetadatumForms.validations"
          results="internalMetadatumForms.getResults()"
          autocomplete="off">
        </validatedinput>

        <validatedinput
          id="internalMetadatumToUpdateRequired"
          type="checkbox"
          model="internalMetadatumToUpdate"
          property="required"
          label="Is Required"
          form="internalMetadatumForms.update"
          validations="internalMetadatumForms.validations"
          results="internalMetadatumForms.getResults()"
          autocomplete="off">
        </validatedinput>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelUpdateInternalMetadatum()">Cancel</button>
    <button ng-disabled="internalMetadatumForms.update.$invalid || updatingInternalMetadatum" type="submit" class="btn btn-success">
      <span ng-hide="updatingInternalMetadatum">Update</span>
      <span ng-show="updatingInternalMetadatum">
        <span class="glyphicon glyphicon-refresh spinning"></span>
      </span>
    </button>
  </div>
</form>
