.discovery-context {

  .dc-heading {
    h1, h2, h3, h4, h5, h6 {
      font-size: 36px
    }
  }

  .dc-content {

    .dc-side-panel {

      .dc-facet {

        .dc-facet-counts-in-use {

        }

        .dc-facet-counts {
          height: 0;
          max-height: 0;
          overflow: hidden;

          li:hover {
            background-color: #efefef;
          }

          transition: all 1s linear;

        }

        .dc-facet-counts.open {
          height: auto;
          max-height: 1000px;
          transition: all 1s linear;
        }

      }

    }

    .dc-main {

      margin-bottom: 50px;

      .dc-search {

        margin-bottom: 10px;

        .dc-filter {
          border-color: #500000;
          background-color: #500000;
          color: #fff;
          height: 40px;
          -webkit-appearance: none;
          -moz-appearance: none;
          padding: .5em;
        }

        .dc-filter-search {
          border-radius: 4px 0px 0px 4px;
          width: 125px;
          padding-right: 1.5em;
        }

        .dc-filter-select {
          border-left: 1px solid #723636;
          border-radius: 0px 4px 4px 0px;
        }

        .dc-search-input {
          height: 40px;
        }

      }
      .dc-active-filters {

        margin-bottom: 10px;

        .dc-active-filter {
          margin-right: 10px;
        }
      }

      .dc-paging-controls-top .paging-controls {
        padding-top: 15px;
      }

      .dc-results-hr {
        margin-top: 0px;
      }

      .dc-results {

        padding-left: 25px;

        .results-loader {
          text-align: center;
          position: absolute;
          opacity: 0;
          margin-top: 10%;
          img {
            width: 25%;
            height: auto;
          }
          transition: opacity 0.35s ease-in-out;
        }

        .results-loader.show-loader {
          opacity: 1;
          transition: opacity 0.35s ease-in-out;
        }

        .results {
          filter: blur(0px);
          -webkit-filter: blur(0px);
          transition: all 0.5s ease-out;
        }

        .results.hide-results {
          filter: blur(5px);
          -webkit-filter: blur(5px);
          transition: all 0.25s ease-in;
        }

        .dc-result {

          margin-bottom: 20px;

          img {
            max-width: 100px;
            min-width: 100px;
            max-height: 250px;
          }

          .media-body {

            .media-heading {
              margin-left: 25px;
            }

            .dc-result-metadata {

              .dc-field {

                margin-bottom: 5px;

                .dc-field-key {
                  color: grey;
                  font-weight: bold;
                }

                .dc-field-value {
                  font-size:  1.1em;
                }
              }
            }
          }
        }

      }
    }
  }

}

.single-item-viewer {
  font: initial;
  .viewer-wrapper {
    text-align: center;
    margin: 5px;
    img {
      height: 100%;
      max-height: 800px;
    }
  }
  .openseadragon-container {
    min-height: 550px;
  }
  margin-bottom: 10px;
}
