<div class="row">

  <div class="row" ng-controller="ManagementController">

    <wvr-tabs target="managementView">
      <wvr-tab path="internal-metadata" view="views/management/internal-metadata.html" label="Internal Metadata">Internal Metadata</wvr-tab>
      <wvr-tab path="sources" view="views/management/source.html" label="Sources">Sources</wvr-tab>
      <wvr-tab path="readers" view="views/management/reader.html" label="Readers">Readers</wvr-tab>
      <wvr-tab path="operators" view="views/management/operator.html" label="Operators">Operators</wvr-tab>
      <wvr-tab path="writers" view="views/management/writer.html" label="Writers">Writers</wvr-tab>
      <wvr-tab path="jobs" view="views/management/job.html" label="Jobs">Jobs</wvr-tab>
      <wvr-tab path="discovery-view" view="views/management/discovery-view.html" label="Discover Views">Discovery Views</wvr-tab>
    </wvr-tabs>

    <wvr-tabview class="management-vew" for="managementView"></wvr-tabview>

  </div>

</div>
