<nav ng-if="contexts" ng-init="getBreadcrumbs()" aria-label="Breadcrumbs" class="breadcrumbs">
  <ol class="breadcrumb">
    <li ng-if="home" class="home">
      <a ng-if="home.active" class="link-like" ng-click="reload()" aria-current="page">{{home.label}}</a>
      <a ng-if="!home.active" href="{{home.path}}">{{home.label}}</a>
    </li>
    <li ng-repeat="breadcrumb in breadcrumbs track by $index">
      <a href="{{breadcrumb.path}}">{{breadcrumb.label}}</a>
    </li>
    <li ng-if="current" class="active">
      <a class="link-like" ng-click="reload()" aria-current="page">{{current.label}}</a>
    </li>
  </ol>
</nav>
