result-entry {
  dt {
    width: 100px;
    font-size: 14px;
    text-align: right;
    hyphens: auto;
  }
  dt:after {
    content: ":";
  }
  dd {
    margin-left: 125px;
    width: 250px;
    margin-top: -19px;
    min-height: 28px;
  }
}

.single-result {
  margin-bottom: 5px;
  result-entry {
    dt {
      font-size: 20px;
      width: 250px;
    }
    dd {
      margin-top: -28px;
      margin-left: 275px;
    }
  }

  @media only screen and (max-width: 758px) {
    result-entry {
      dt {
        width: 100% !important;
        text-align: left;
      }

      dd {
        width: 100% !important;
        text-align: justify;
        margin: 0 0 0 14px;
      }
    }
  }
}
