<!DOCTYPE html>

<html lang="en" class="no-js">

<head>

  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.location.base = [[${ base }]];
    /*]]>*/
  </script>


  <base th:href="${ base + '/'}" />

  <title>Sage :: Solr Aggregation Engine</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="Fedora User Interface" />

  <link rel="stylesheet" th:href="${@environment.getProperty('app.url')+'/wro/app.css'}" />
  <link rel="stylesheet" type="text/css" href="resources/styles/mirador-combined.min.css">

</head>

<body ng-controller="AppLoginController">
  <main>
    <tl-header page-title="Digital Collections" page-title-url="https://library.tamu.edu/research/digital_collections.html"></tl-header>

    <alerts types="WARNING,ERROR"></alerts>

    <modal modal-id="verifyEmailModal" modal-view="views/modals/verifyEmailModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
    <modal modal-id="loginModal" modal-view="views/modals/loginModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>

    <div class="container-fluid">
      <div class="container">
        <div class="col-md-12" ng-controller="AppLoginController">
          <div ng-if="!isAnonymous()" class="col-md-12" ng-controller="CoreAdminController">
            <modal modal-id="assumeUserModal" modal-view="views/modals/assumeUserModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
            <div class="row">
              <nav class="pull-right">
                <div class="dropdown">
                  <span class="glyphicon glyphicon-user"></span>

                  <a class="dropdown-toggle clickable" data-toggle="dropdown" aria-expanded="false">
                    <username></username> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-if="isManager() || isAdmin()"><a href="management/discovery-view">Manage Discovery Views</a></li>
                    <li ng-if="isAdmin() || isAssuming() == 'true'" role="presentation" class="divider"></li>
                    <li ng-if="isAdmin() || isAssuming() == 'true'" role="presentation" class="dropdown-header">Admin Actions</li>
                    <li ng-if="isAdmin()"><a href="users">Manage Users</a></li>
                    <li ng-if="isAdmin() || isAssuming() == 'true'">
                      <a href ng-if="isAssuming() == 'false'" data-toggle="modal" ng-click="openModal('#assumeUserModal')">{{assumedControl.button}}</a>
                      <a href ng-if="isAssuming() == 'true'" ng-click="assumeUser(assume)">{{assumedControl.button}}</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div ng-view class="view"></div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <tl-footer login-url="{{loginUrl()}}"></tl-footer>
  <tl-themes active-theme="tamu"></tl-themes>
  <!-- build:js resources/scripts/bundle.js -->
  <!-- Vendor Libraries -->

  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="node_modules/sockjs-client/dist/sockjs.min.js"></script>
  <script src="node_modules/stompjs/lib/stomp.min.js"></script>

  <script src="node_modules/angular/angular.min.js"></script>

  <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="node_modules/angular-route/angular-route.min.js"></script>
  <script src="node_modules/angular-loader/angular-loader.min.js"></script>
  <script src="node_modules/angular-messages/angular-messages.min.js"></script>
  <script src="node_modules/angular-mocks/angular-mocks.js"></script>

  <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
  <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>

  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script src="node_modules/ng-table/bundles/ng-table.min.js"></script>

  <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
  <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>

  <script src="node_modules/openseadragon/build/openseadragon/openseadragon.min.js"></script>
  <script src="node_modules/ng-openseadragon/build/angular-openseadragon.js"></script>

  <script src="node_modules/mirador/dist/mirador.js"></script>
  <!-- Core Libraries -->

  <!-- Core Configuration -->
  <script src="node_modules/@wvr/core/app/config/coreConfig.js"></script>

  <!-- Core Modules -->
  <script src="node_modules/@wvr/core/app/components/version/version.js"></script>
  <script src="node_modules/@wvr/core/app/components/version/version-directive.js"></script>
  <script src="node_modules/@wvr/core/app/components/version/interpolate-filter.js"></script>

  <!-- App Configuration -->
  <script src="config/appConfig.js"></script>
  <script src="config/apiMapping.js"></script>

  <!-- App Modules -->

  <!-- Application Start -->
  <script src="node_modules/@wvr/core/app/core.js"></script>
  <script src="node_modules/@wvr/core/app/setup.js"></script>
  <script src="node_modules/@wvr/core/app/config/coreRuntime.js"></script>
  <script src="node_modules/@wvr/core/app/config/coreAngularConfig.js"></script>
  <script src="node_modules/@wvr/core/app/config/logging.js"></script>


  <!-- App Constants -->
  <script src="node_modules/@wvr/core/app/constants/apiResponseActions.js"></script>
  <script src="node_modules/@wvr/core/app/constants/httpMethodVerbs.js"></script>

  <!-- Directives -->
  <script src="node_modules/@wvr/core/app/directives/alertDirective.js"></script>
  <script src="node_modules/@wvr/core/app/directives/footerDirective.js"></script>
  <script src="node_modules/@wvr/core/app/directives/headerDirective.js"></script>
  <script src="node_modules/@wvr/core/app/directives/modalDirective.js"></script>
  <script src="node_modules/@wvr/core/app/directives/tabsDirective.js"></script>
  <script src="node_modules/@wvr/core/app/directives/tooltipDirective.js"></script>
  <script src="node_modules/@wvr/core/app/directives/userDirective.js"></script>
  <script src="node_modules/@wvr/core/app/directives/validatedInputDirective.js"></script>
  <script src="node_modules/@wvr/core/app/directives/validationMessageDirective.js"></script>
  <script src="node_modules/@wvr/core/app/directives/validatedSelectDirective.js"></script>
  <script src="node_modules/@wvr/core/app/directives/validatedTextAreaDirective.js"></script>

  <!-- Services -->
  <script src="node_modules/@wvr/core/app/services/accessControlService.js"></script>
  <script src="node_modules/@wvr/core/app/services/wsService.js"></script>
  <script src="node_modules/@wvr/core/app/services/wsApi.js"></script>
  <script src="node_modules/@wvr/core/app/services/restApi.js"></script>
  <script src="node_modules/@wvr/core/app/services/fileService.js"></script>
  <script src="node_modules/@wvr/core/app/services/authService.js"></script>
  <script src="node_modules/@wvr/core/app/services/storageService.js"></script>
  <script src="node_modules/@wvr/core/app/services/utilityService.js"></script>
  <script src="node_modules/@wvr/core/app/services/alertService.js"></script>
  <script src="node_modules/@wvr/core/app/services/validationStore.js"></script>
  <script src="node_modules/@wvr/core/app/services/userService.js"></script>
  <script src="node_modules/@wvr/core/app/services/modalService.js"></script>
  <script src="node_modules/@wvr/core/app/services/modelCache.js"></script>
  <script src="node_modules/@wvr/core/app/services/modelUpdateService.js"></script>

  <!-- Factories -->

  <!-- Repo -->
  <script src="node_modules/@wvr/core/app/repo/abstractRepo.js"></script>

  <!-- Models -->
  <script src="node_modules/@wvr/core/app/model/abstractModel.js"></script>
  <script src="node_modules/@wvr/core/app/model/assumedControl.js"></script>
  <script src="node_modules/@wvr/core/app/model/user.js"></script>

  <!-- Controllers -->
  <script src="node_modules/@wvr/core/app/controllers/abstractController.js"></script>
  <script src="node_modules/@wvr/core/app/controllers/coreAdminController.js"></script>
  <script src="node_modules/@wvr/core/app/controllers/authenticationController.js"></script>
  <script src="node_modules/@wvr/core/app/controllers/loginController.js"></script>
  <script src="node_modules/@wvr/core/app/controllers/registrationController.js"></script>
  <script src="node_modules/@wvr/core/app/controllers/userController.js"></script>
  <script src="node_modules/@wvr/core/app/controllers/errorPageController.js"></script>

  <!-- App Libraries -->

  <!-- App Configuration -->
  <script src="config/appConfig.js"></script>
  <script src="config/apiMapping.js"></script>

  <!-- Application Start -->
  <script src="app.js"></script>
  <script src="config/runTime.js"></script>
  <script src="config/routes.js"></script>

  <!-- Repos -->
  <script src="repo/abstractAppRepo.js"></script>
  <script src="repo/internalMetadataRepo.js"></script>
  <script src="repo/operatorRepo.js"></script>
  <script src="repo/sourceRepo.js"></script>
  <script src="repo/jobRepo.js"></script>
  <script src="repo/readerRepo.js"></script>
  <script src="repo/writerRepo.js"></script>
  <script src="repo/discoveryViewRepo.js"></script>
  <script src="repo/userRepo.js"></script>

  <!-- Models -->
  <script src="model/abstractAppModel.js"></script>
  <script src="model/internalMetadatumModel.js"></script>
  <script src="model/operatorModel.js"></script>
  <script src="model/sourceModel.js"></script>
  <script src="model/jobModel.js"></script>
  <script src="model/readerModel.js"></script>
  <script src="model/writerModel.js"></script>
  <script src="model/discoveryViewModel.js"></script>
  <script src="model/discoveryContextModel.js"></script>
  <script src="model/singleResultContextModel.js"></script>
  <script src="model/resultModel.js"></script>
  <script src="model/fieldModel.js"></script>
  <script src="model/searchModel.js"></script>
  <script src="model/searchFieldModel.js"></script>
  <script src="model/metadataFieldModel.js"></script>
  <script src="model/facetFieldModel.js"></script>

  <!-- Components -->
  <script src="components/multiSuggestionInputComponent.js"></script>
  <script src="components/singleResultViewerComponent.js"></script>
  <script src="components/resultEntryComponent.js"></script>
  <script src="components/facetWidgetComponent.js"></script>
  <script src="components/imageAsyncComponent.js"></script>

  <!-- Directives -->
  <script src="directives/breadcrumbsDirective.js"></script>
  <script src="directives/defaultSrcDirective.js"></script>
  <script src="directives/contentViewerDirective.js"></script>
  <script src="directives/afterRenderDirective.js"></script>
  <script src="directives/presentValueDirective.js"></script>

  <!-- filters -->
  <script src="filters/availableOperatorFilter.js"></script>
  <script src="filters/boldMatchFilter.js"></script>
  <script src="filters/convertBracketsToButtonsFilter.js"></script>
  <script src="filters/removeBracketsFilter.js"></script>

  <!-- services -->
  <script src="services/manifestService.js"></script>

  <!-- Controllers -->
  <script src="controllers/managementController.js"></script>
  <script src="controllers/management/internalMetadataManagementController.js"></script>
  <script src="controllers/management/operatorManagementController.js"></script>
  <script src="controllers/management/sourceManagementController.js"></script>
  <script src="controllers/management/jobManagementController.js"></script>
  <script src="controllers/management/readerManagementController.js"></script>
  <script src="controllers/management/writerManagementController.js"></script>
  <script src="controllers/management/discoveryViewManagementController.js"></script>
  <script src="controllers/discoveryViewController.js"></script>
  <script src="controllers/discoveryContextController.js"></script>
  <script src="controllers/singleResultController.js"></script>
  <script src="controllers/usersController.js"></script>
  <script src="controllers/appLoginController.js"></script>
  <!-- endbuild -->

  <!-- CDN tl-component -->
  <script src="https://labs.library.tamu.edu/tl-components/latest/tl-components.js"></script>

</body>

</html>
