<!DOCTYPE html>

<html lang="en" class="no-js">

<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YQGZPWHMW1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-YQGZPWHMW1');
  </script>
  <!-- End of Google tag (gtag.js) -->

  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.location.base = [[${ base }]];
    /*]]>*/
  </script>


  <base th:href="${ base + '/'}" />

  <title>Sage :: Solr Aggregation Engine</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="Solr Aggregation Engine" />

  <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" th:href="${@environment.getProperty('app.url')+'/wro/app.css'}" />

</head>

<body ng-controller="AppLoginController" class="wvr-components-loading">
  <main>
    <tl-header page-title="Digital Collections" page-title-url="https://library.tamu.edu/research/digital_collections.html"></tl-header>

    <alerts types="WARNING,ERROR"></alerts>

    <modal modal-id="verifyEmailModal" modal-view="views/modals/verifyEmailModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
    <modal modal-id="loginModal" modal-view="views/modals/loginModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>

    <div class="container-fluid">
      <div class="container">
        <div class="col-md-12" ng-controller="AppLoginController">
          <div ng-if="!isAnonymous()" class="col-md-12" ng-controller="CoreAdminController">
            <modal modal-id="assumeUserModal" modal-view="views/modals/assumeUserModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
            <div class="row">
              <nav class="pull-right">
                <div class="dropdown">
                  <span class="glyphicon glyphicon-user"></span>

                  <a class="dropdown-toggle clickable" data-toggle="dropdown" aria-expanded="false">
                    <username></username> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-if="isManager() || isAdmin()"><a href="management/discovery-view">Manage Discovery Views</a></li>
                    <li ng-if="isAdmin() || isAssuming() == 'true'" role="presentation" class="divider"></li>
                    <li ng-if="isAdmin() || isAssuming() == 'true'" role="presentation" class="dropdown-header">Admin Actions</li>
                    <li ng-if="isAdmin()"><a href="users">Manage Users</a></li>
                    <li ng-if="isAdmin() || isAssuming() == 'true'">
                      <a href ng-if="isAssuming() == 'false'" data-toggle="modal" ng-click="openModal('#assumeUserModal')">{{assumedControl.button}}</a>
                      <a href ng-if="isAssuming() == 'true'" ng-click="assumeUser(assume)">{{assumedControl.button}}</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div ng-view class="view"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div ng-controller="AppLoginController" class="container">
    <div class="col-md-12" ng-if="isAnonymous()">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href ng-click="openModal('#loginModal')">Login</a>
        </li>
        <li ng-if="isEmailEnabled()" class="dropdown">
          <a href ng-click="openModal('#verifyEmailModal')">Register</a>
        </li>
      </ul>
    </div>
  </div>
  <tl-footer></tl-footer>
  <tl-themes active-theme="tamu"></tl-themes>

  <script src="appConfig.js"></script>
  <script src="app.bundle.js"></script>

  <!-- CDN tl-component -->
  <script src="//api.library.tamu.edu/tl-components/2x/tl-components.js"></script>

</body>

</html>
