  <h1>Solr Reader Management</h1>

  <div class="panel panel-default Solr-core-container">
    <div class="panel-heading clearfix">
      <button class="btn btn-success pull-right" ng-click="startCreateSolrReader()">New</button>
      
    </div>

    <div class="panel-body">
      <table ng-table="tableParams" class="table table-hover Solr-core-table">
        <tbody>
          <tr ng-repeat="reader in $data">
            <td data-title="'Name'" sortable="'name'">
              {{reader.name}}
            </td>
            <td data-title="'Solr Core'" sortable="'SolrCore'">
                {{reader.solrCore.name}}</a>
            </td>
            <td data-title="'Actions'">
              <span class="glyphicon glyphicon-pencil clickable" ng-click="startUpdateSolrReader(reader)"></span>
              <span class="glyphicon glyphicon-trash clickable" ng-click="confirmDeleteSolrReader(reader)"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  <modal
    modal-id="createSolrReaderModal"
    modal-view="views/modals/createSolrReaderModal.html"
    modal-header-class="modal-header-primary"
    modal-fullscreen="true"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="confirmDeleteSolrReaderModal"
    modal-view="views/modals/confirmDeleteSolrReaderModal.html"
    modal-header-class="modal-header-danger"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="updateSolrReaderModal"
    modal-view="views/modals/updateSolrReaderModal.html"
    modal-header-class="modal-header-primary"
    modal-fullscreen="true"
    wvr-modal-backdrop="static">
  </modal>

</div>