
<div class="Solr-core-management">

  <h1>Solr Core Management</h1>

  <div class="panel panel-default Solr-core-container">
    <div class="panel-heading clearfix">
      <button class="btn btn-success pull-right" ng-click="startCreateSolrCore()">New</button>
      
    </div>

    <div class="panel-body">
      <table ng-table="tableParams" class="table table-hover Solr-core-table">
        <tbody>
          <tr ng-repeat="core in $data">
            <td data-title="'Name'" sortable="'name'">
              {{core.name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <modal
    modal-id="createSolrCoreModal"
    modal-view="views/modals/createSolrCoreModal.html"
    modal-header-class="modal-header-primary"
    modal-fullscreen="true"
    wvr-modal-backdrop="static">
  </modal>

</div>
