@import "variables/all";
@import "theme-base";

@import "management/all";

@import "overrides/all";
@import "imports";
@import "main";

@import "splash/all";

@import "components/all";

@import "discovery-context/all";

@import "directives/all";

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, Sans-Serif;
  opacity: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

tamufooter {
  grid-row-start: 2;
  grid-row-end: 3;
}

.clickable:hover {
  cursor: pointer;
}

.link-like {
  color:#337ab7;
  text-decoration:none;
}

.link-like:hover {
  cursor:pointer;
  text-decoration:underline;
  color: #23527c;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

