<div class="form-group">
  <label for="{{$ctrl.name}}">{{$ctrl.label}}</label>
  <input
  ng-model="model"
  name="{{$ctrl.name}}"
  type="text"
  class="form-control input"
  placeholder="{{$ctrl.placeholder}}"
  ng-keydown="processKeyDown($event)"
  ng-keyup="processKeyUp($event)"/>
  <div class="btn-group" uib-dropdown is-open="open">
    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
        <li role="menuitem" ng-repeat="suggestion in $ctrl.suggestions | filter:curentValue" ng-click="addSelection(suggestion[$ctrl.property])" ng-class="{'active': selectedIndex===$index}"><a href="#">{{suggestion[$ctrl.property]}}</a></li>
    </ul>
  </div>
  <!-- <div class="suggestions" ng-show="open" >{{$ctrl.suggestions}}</div> -->
</div>